
.external {
    white-space:nowrap;
    list-style: none;
    overflow: scroll;
    overflow-y: hidden;
}
.external li {
    display: inline-block;
}
.photo-gallery-thumb {
    display: inline;
    padding:2px;
    /* // max-width: 100px; */
    height: 100px;
}

.photo-gallery-thumb:hover {
    cursor:pointer
}

.controls-class {
    z-index: 15;
}

#overlay-back {
    position   : absolute;
    top        : 0;
    left       : 0;
    width      : 100%;
    height     : 100%;
    background : #000;
    opacity    : 1;
    filter     : alpha(opacity=60);
    z-index    : 5;
    display    : none;
}

/*.cycle-slideshow {*/
    /*display: ;*/
    /*position: absolute;*/
    /* // left: 50%; */
    /* // margin-left: -10vw; */
    /* // height: 80vh; */
    /*top: 10vh;*/
    /* // width: 70%; */
    /* // height: 200vh; */
/*}*/

.photo-gallery-photo{
    position: absolute;
    /* // width: 70%; DO NOT UN COMMENT THIS! */
    height: 90vh;
}


.gallery-canvas {
    height: 100%;
    /* // display: block; */
    background-color: white;
}
